:root {
  --theme-background-image: url(/images/bg_aster.png);
  --theme-banner-image: url(/images/banner_aster.png);
  --theme-background-color: black;
  --theme-border-color: #7dff93;
  --theme-text-color: white;
  --theme-text-shadow-color: black;
  --theme-box-background-color: rgba(0, 0, 0, 0.3);
  --theme-border-style: outset;
  --theme-outline-style: outset;
  --theme-outline-color: gold;
  --theme-background-repeat: repeat;
  --theme-background-size: 200px;
}
