@import "/fonts/stylesheet.css";

* {
  box-sizing: border-box;
}

body {
  background: var(--theme-background-image);
  background-color: var(--theme-background-color);
  background-repeat: var(--theme-background-repeat);
  background-size: var(--theme-background-size);
}

h1 {
  font-family: "Nova Slim", Arial, Helvetica, sans-serif;
  font-size: 6em;
  text-transform: uppercase;
  display: inline;
}

h2 {
  font-family: "Nova Slim", Arial, Helvetica, sans-serif;
  font-size: 4em;
  text-transform: uppercase;
  display: inline;
}

h3 {
  font-family: "Nova Slim", Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  display: inline;
}

.add-top-margin {
  margin-top: 10%;
}

.add-bottom-margin {
  margin-bottom: 10%;
}

.grid-container-misc {
  display: grid;
  margin-left: 15%;
  margin-right: 15%;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "top-banner top-banner"
    "left-nav article"
    "webrings graphics";
}

.grid-container-homepage {
  display: grid;
  margin-left: 15%;
  margin-right: 15%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "top-banner top-banner top-banner"
    "left-nav bio moon"
    "left-nav bio quote"
    "webrings graphics graphics";
}

.grid-container-plurality {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.top-banner {
  grid-area: top-banner;
  color: white;
  text-align: center;
}

.top-banner img {
  width: 100%;
}

.tile {
  backdrop-filter: blur(2px);
  background: var(--theme-box-background-color);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5em;
  border-color: var(--theme-border-color);
  border-width: 1rem;
  border-style: var(--theme-border-style);
  outline: 0.25rem var(--theme-outline-style) var(--theme-outline-color);
  color: var(--theme-text-color);
}

.bio {
  font-size: 1.5rem;
  grid-area: bio;
}

.moon {
  grid-area: moon;
}

.quote {
  grid-area: quote;
}

.graphics {
  grid-area: graphics;
}

.webrings {
  grid-area: webrings;
}

.article {
  grid-area: article;
}

.left-nav {
  grid-area: left-nav;
}

.left-nav nav {
  padding: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

nav a,
nav summary {
  color: var(--theme-text-color);
  display: block;
  width: 100%;
  padding: 5%;
  margin-bottom: 10%;
  background-color: var(--theme-border-color);
  border: 0.25rem var(--theme-border-style) var(--theme-border-color);
  outline: 0.25rem var(--theme-outline-style) var(--theme-outline-color);
  font-size: x-large;
  text-shadow:
    2px 0 var(--theme-text-shadow-color),
    -2px 0 var(--theme-text-shadow-color),
    0 2px var(--theme-text-shadow-color),
    0 -2px var(--theme-text-shadow-color),
    1px 1px var(--theme-text-shadow-color),
    -1px -1px var(--theme-text-shadow-color),
    1px -1px var(--theme-text-shadow-color),
    -1px 1px var(--theme-text-shadow-color);
}
nav a:link {
  text-decoration: none;
}
nav .disabled {
  background-color: #999999;
}

nav ul,
nav ul li {
  width: 100%;
}
.tile img {
  max-width: 100%;
  max-height: 100%;
}

.grid-container-plurality .tile img {
  border-width: 5%;
  border-style: var(--theme-border-style);
  border-color: var(--theme-border-color);
}

p {
  font-family: "Nova Round", "Courier New", Courier, monospace;
}

a {
  color: var(--theme-text-color);
}

ul {
  width: 70%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

li {
  font-family: "Nova Round", "Courier New", Courier, monospace;
}

.separator {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #cccccccc;
  margin-top: 1em;
  margin-bottom: 1em;
}

details summary {
  font-family: "Nova Round", "Courier New", Courier, monospace;
  cursor: pointer;
}

.article details p {
  padding-left: 2rem;
}

nav details[open] ul {
  border-left: 0.25rem solid var(--theme-text-color);
  padding: 0 5px;
  margin: 5px;
}

.pagedoll {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1vw;
  width: 15vw;
  height: 15vw;
}

.pagedoll img {
  width: 100%;
  height: 100%;
}

.attribution {
  font-family: "Nova Round", "Courier New", Courier, monospace;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1vw;
  color: var(--theme-text-color);
  text-shadow:
    2px 0 var(--theme-text-shadow-color),
    -2px 0 var(--theme-text-shadow-color),
    0 2px var(--theme-text-shadow-color),
    0 -2px var(--theme-text-shadow-color),
    1px 1px var(--theme-text-shadow-color),
    -1px -1px var(--theme-text-shadow-color),
    1px -1px var(--theme-text-shadow-color),
    -1px 1px var(--theme-text-shadow-color);
}

#quote {
  white-space: pre-wrap;
}

#quote-attribution {
  font-weight: bold;
  text-align: right;
}

.grid-container-plurality :target {
  border-color: orangered;
}

.graphics img {
  padding: 0.1rem;
}

/* Responsive layout - makes a one column-layout */
@media only screen and (max-width: 800px) {
  .grid-container-misc {
    grid-template-columns: 1fr;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-areas:
      "top-banner"
      "left-nav"
      "article"
      "graphics"
      "webrings";
  }

  .grid-container-homepage {
    grid-template-columns: 1fr;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-areas:
      "top-banner"
      "left-nav"
      "bio"
      "moon"
      "quote"
      "graphics"
      "webrings";
  }

  nav a,
  nav summary {
    margin-bottom: 2%;
  }

  .grid-container-plurality {
    grid-template-columns: 1fr;
  }
}
